{% load compressed %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
      <title>{% block title %}{% endblock %} - pnbank</title>

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="content-language" content="en" />
      <meta name="robots" content="noindex, nofollow" />

      <link rel="shortcut icon" href="{% url static "img/favicon.ico" %}" />
      {% compressed_css 'base' %}

      {% block extra-head %}{% endblock %}
  </head>

  <body>
    {% block header %}
      <div id="header">
        <div class="menu">
            <a href="{% url index %}"><img src="{% url static "img/goldbar.png" %}" alt="PN Bank" /></a>
            {% if user.is_authenticated %}
            Welcome, {{ user.username }}!
            <a href="{% url logout %}">Logout</a>
            {% else %}
            <a href="{% url login %}">Login</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    <div id="content" class="column container">
      {% block content-header %}
        {% if form and form.errors %}
            <ul class="message errors">
                <li>Some fields are invalid, please fix them before saving.</li>
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <li class="non-field">{{ error }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        {% endif %}

        {% if messages %}
            {% regroup messages by tags as tags_list %}
            {% for tags in tags_list %}
            <ul class="message {{ tags.grouper|default:"valid" }}">
                {% for message in tags.list %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}
    </div>

    {% block js %}
        {% compressed_js 'base' %}
    {% endblock %}

  </body>
</html>
